<h1>Post</h1>
        <p>
            <b>user id: </b><%= @userpost.user_id %>
        </p>
        <div>
            Post id: <%= @userpost.id %>
        </div>
        <div>
            <%= @userpost.content %><br /><br />
        </div>
